.compreporcategoria {

display:flex;
justify-content:center;
align-items:center;
color:#000;
font-size: 20px;
font-weight: 600;

}

.category_list_1 {

margin-top:3%;
margin-left:17%;
margin-right:17%;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr;

}

.category_list_1 img {

height:210px;
width:210px;

}

.category_list_11 {

margin-left:9px;
margin-right:9px;

}

.category_list_2 {

margin-top:3%;
margin-left:17%;
margin-right:17%;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;

}

.category_list_2 img {

height: 310px;
width: 283px;

}

.category_list_title {

margin-left:17%;
margin-right:17%;
text-align:center;
margin-top: 40px;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr;

}

.category_list_title1 {

margin-left:17%;
margin-right:17%;
margin-top:40px;
text-align:center;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;

}

.category_list_title_1 {

width:226px;
font-size:22px;
font-weight: 500;

}

.category_list_subtitle {

margin-left:17%;
margin-right:22%;
margin-bottom:67px;
font-family:"Poppins", sans-serif;
font-size:14px;
text-align:center;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr;

}

.category_list_subtitle_1 {

width:226px;

}

.category_list_title_2 {

width:226px;
font-size:15px;
font-weight:500;

}

.category_list_title_3 {

width: 276px;
font-size: 15px;
font-weight: 500;

}

.category_list_pricing {

margin-left:17%;
margin-right:17%;
font-family:"Poppins", sans-serif;
font-size:14px;
text-align:center;
color: #696969;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr;

}

.category_list_pricing1 {

margin-left:17%;
margin-right:17%;
font-family:"Poppins", sans-serif;
font-size:14px;
text-align:center;
color: #696969;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;

}

.category_list_price_1 {

width:226px;
margin-bottom:72px;

}

.category_list_price_2 {

width:278px;
margin-bottom:72px;

}

.category_list_field {

width:210px;
margin-left:24px;
position:absolute;
color:#fff;
display:flex;

}

.category_list_field1 {

width:96px;

}

.category_list_field1 img {

height:40px;
width:70px;
opacity:0.7;
margin-top:-10px;
transform: translate(-17px, 10px);

}

.category_list_field2 img {

height:40px;
width:70px;
margin-top:-10px;
transform: translate(-17px, 10px);

}

.categoryfieldbutton1 {

width:10px;
opacity:0.7;
border:none;
background:none;
cursor:pointer;
transform: translate(17px, -10px);
outline: none !important;

}

.categoryfieldbutton2 {

width:10px;
opacity:0.7;
border:none;
background:none;
cursor:pointer;
transform: translate(17px, -10px);

}

.category_list_field_1 {

width: 240px;
margin-left: 42px;
position: absolute;
color: #fff;
display: flex;

}

.category_list_details_1 {



}

.category_list_details_11 {



}

.category_subtitle {

margin-top: 4px;
font-size: 14px;
font-weight: 400;
color: #b8784e;
text-align:center;

}

.category_list_1_and_login {

display:flex;

}

.loginform1 {

width:140px;

}

.div1521 {

height:277px;
width:190px;
background:#fff;
margin-left:-140px;
border:1px solid #0396fd;
transform:translate(-140px,  40px);

}

.div15211 {

height:34px;
font-size: 18px;
color: #26428b;
line-height: 18px;
text-align:center;
padding-top: 12px;
padding-bottom: -14px;
border-bottom:1px solid #26428b;

}

.div15212 {

margin:14px;
font-size: 13px;
line-height: 1.42857143;


}

.div15213 {

height:82px;
/*background-image:url("../images/bankloginicon1.png");
background-size:cover;*/
margin-top:-23px;


}

.div15214 {

margin:14px;
font-size: 13px;
line-height: 1.42857143;
margin-top: -39px;

}

.div15215 {

margin:14px;
font-size: 13px;
line-height: 1.42857143;
color: #0396fd;
margin-top: -7px;

}

.div15216 {

margin:14px;
font-size: 13px;
line-height: 1.42857143;
margin-top: -7px;

}

.div1521 a {

color: #0396fd;
text-decoration: none;

}

.loginbutton {

margin-left:54px;
margin-top:4px;
background-color:#0396fd;
color:#fff;

}

.siga_twitter {

display:flex;
justify-content:center;
margin:40px 10px;

}

.blogs_1 {



}

.blogs_1_1 {

margin-left:17px;
margin-right:17px;
margin-top:10px;
margin-bottom:70px;
display:flex;
justify-content:center;

}

.blog_1 {

width:400px;

}

.blog_11 {

height:41px;
margin-top: 40px;
font-weight:700;

}

.blog_12 {



}



