<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block head %}

    {% endblock %}
<link rel = "stylesheet" href = "./static/css/base.css">
<link rel="shortcut icon" href="#">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<div class = "div1">
    <div class = "header_menu">
        <a href = "/">
        <div class = "hm_1logo">

        </div>
        </a>
        <div class = "hm_1 gold">
            <a href = "/cafes">
                COMPRE CAFÉS
            </a>
        </div>
        <div class = "hm_1 gold">
            <a href = "/cha">
                CHÁ
            </a>
        </div>
        <div class = "hm_1 gold">
            <a href = "/emporio">
                EMPÓRIO
            </a>
        </div>
        <div class = "hm_1 gold">
            <a href = "/aprendamais">
            APRENDA MAIS
            </a>
        </div>
        {% if isadmin %}
        <div class = "hm_1 gold">
            <a href = "/blogs" style = "color:red; text-decoration: none">
                BLOGS
            </a>
        </div>
        <div class = "hm_1 gold">
            <a href = "/allusers" style = "color:red; text-decoration: none">
                USERS
            </a>
        </div>
        {% endif %}
        <div class = "hm_2">
            {% if loggedinuser %}
            <a href = "/profile">
            <div class = "hm_profile">

            </div>
            </a>
            {% endif %}
            <a href = "/fav">
            <div class = "hm_favorites">
                <div class = "hm_favorites_number">
                    0
                </div>
            </div>
            <a href = "/cart">
            <div class = "hm_cart">
                <div class = "hm_cart_number">
                    0
                </div>
            </div>
            </a>
            </a>
        </div>
    </div>
            https://www.tripadvisor.com/Restaurants-g303631-c8-Sao_Paulo_State_of_Sao_Paulo.html
    {% block body1 %}

    {% endblock %}
    <div class = "titlecafe">
    SEU CAFÉ COM ORIGEM
    </div>
    <div class = "searchbar_1">
        <form method = "POST" onsubmit = "return validate_Form_1()" class = "search_Form">
            <input onkeyup = "searchbar()" class = "searchbar_content" name = "searchbar_content">
            <input type = "hidden" class = "searchbar_2_content" name = "searchbar_2_content">
            <input type = "hidden" class = "searchbar_3_content" name = "searchbar_3_content">
            <input type = "hidden" class = "searchbar_4_content" name = "searchbar_4_content">
            <button type = "submit" class = "button1" value = "submit" name = "submit">
                <img src = "./static/images/cafe_search_enlarger.png">
            </button>
        </form>
    </div>
    <div class = "search_content_items"></div>

    {% block body %}

    {% endblock %}

<div class = "footermenu">
    <div class = "footermenu_1">
        Copyright © 2021 <span style = "color:#ffdb00; margin-inline:4px;">URBE CAFÉ</span> Todos direitos reservados.
    </div>
    <div class = "footermenu_1">
        <div class = "footermenu_1_1">
            Política de frete
        </div>
        <div class = "footermenu_1_1">
            Política de compras
        </div>
        <div class = "footermenu_1_1">
            Política de devolução
        </div>
        <div class = "footermenu_1_1">
            Política de privacidade
        </div>
    </div>
</div>
</div>

<script type = "text/javascript" src = "./static/js/base.js"></script>
</body>
</html>