{% extends 'base.html' %}

{% block head %}

<link rel = "stylesheet" href = "static/css/fav.css">
<script>
    var items = {{ items|tojson }}
</script>

{% endblock %}

{% block body1 %}

        {% if loggedinuser %}
<div class = "checkifloggeduser">
    <div class = "checkifloggeduser1">
            {% if isadmin %}
                <span class = "logged_in_name_admin">
            {{ loggedinuser }}
            </span>
            {% else %}
                <span class = "logged_in_name">
             {{ loggedinuser }}
                </span>
            {% endif %}
            <a href = "/logout">Logout</a>
    </div>
</div>
        {% endif %}

{% endblock %}

{% block body %}

1
<div class = "fav_1">

<div class = "fav1">

</div>

</div>
<script src = "static/js/fav.js"></script>

{% endblock %}