{% extends 'base.html' %}

{% block head %}

<script>
    var items = {{ items|tojson }}
</script>
<link rel = "stylesheet" href = "static/css/profile.css">

{% endblock %}

{% block body1 %}

        {% if loggedinuser %}
<div class = "checkifloggeduser">
    <div class = "checkifloggeduser1">
            {% if isadmin %}
                <span class = "logged_in_name_admin">
            {{ loggedinuser }}
            </span>
            {% else %}
                <span class = "logged_in_name">
             {{ loggedinuser }}
                </span>
            {% endif %}
            <a href = "/logout">Logout</a>
    </div>
</div>
        {% endif %}

{% endblock %}

{% block body %}

<div class = "profile1">
    <div class = "profile11">
        {{ loggedinuser }}
        <br>
        Member since {{ profilecreated }}
    </div>
    <div class = "profilecart1">

    </div>
</div>
<script type = "text/javascript" src = "static/js/profile.js"></script>

{% endblock %}